.start_page {
    height: 768px;
    background-color: rgb(198, 198, 198);
}

.big-pic {}

.story {
    margin: 50px;
}

.s1 {
    height: 90vh;
}

.s2 {
    height: 90vh;
}

.s3 {
    height: 90vh;
}


/*footer*/

.footer {
    height: 300px;
    background-color: rgb(57, 62, 78);
}

;

}
